<html>
    <head>
        <style>
{% include "css/Base.css" %}
{% include "widgets/css/Layout-OneTwo-Resizable.css" %}
        </style>
        <script>
{% include "js/DisconnectClient.js" %}
{% include "js/UpdateDuration.js" %}
        </script>
        <title>{{ title }}</title>
    </head>
    <body>
        <layout-12>
            <div style="display: flex; flex-direction: column;">
{% include "widgets/Header.html" %}
            </div>
            <div id="container">
                <div id="drag" style="padding: 10px; height: 50%">
                    <div id="top">
{% include "widgets/TableFixHeader.html" %}
                    </div>
                </div>
                <div id="splitter"></div>
                <div id="bottom">
                    <div id="bottom-left">
                        <div style="flex: auto; overflow: auto; border: 1px solid #ccc;">
                            <h2 style="margin: 0; padding: 12px; background-color: #e0e0e0;font-weight: bold; font-size: 1em; border-bottom: 1px solid #ccc; position: sticky; top: 0; z-index: 1; border-right: 1px solid #ccc;">
                                Subscribed Topics
                            </h2>
{% set topics=subscribed_topics %}
{% include "widgets/FoldableTable.html" %}
                        </div>
                    </div>
                    <div id="bottom-right">
                        <div style="flex: auto; overflow: auto; border: 1px solid #ccc;">
                            <h2 style="margin: 0; padding: 12px; background-color: #e0e0e0;font-weight: bold; font-size: 1em; border-bottom: 1px solid #ccc; position: sticky; top: 0; z-index: 1; border-right: 1px solid #ccc;">
                                Retained Topics
                            </h2>
{% set topics=retained_topics %}
{% include "widgets/FoldableTable.html" %}
                        </div>
                    </div>
                </div>
                <script>
{% include "widgets/js/Layout-OneTwo-Resizable.js" %}
                </script>
            </div>
            <div>
{% include "widgets/Footer.html" %}
            </div>
        </layou-12>
    </body>
</html>
