<div style="display: block; padding: 10px; border-right: 1px solid #ccc;">
    <table>
        <tbody>
{% for topic in topics %}
            <tr class="key-row">
                <td class="key-label" colspan="3">{{ topic.key }}</td>
            </tr>
    {% for val in topic.values %}
            <tr class="value-row">
        {% if existsIn(val, "qos") %}
                <td style="padding-left: 2.5em;">{{ val.client_id }}</td>
                <td style="padding-left: 7px; padding-right: 7px;">{{ val.qos }}</td>
                <td style="width: 0px;"><button class="red-btn" onclick="unsubscribe('{{ val.client_id }}', '{{ val.topic }}')">Unsubscribe</button></td>      
        {% else %}
                <td style="padding-left: 2.5em; overflow-wrap: anywhere;">{{ val }}</td>
        {% endif %}
            </tr>
    {% endfor %}
{% endfor %}
        </tbody>
    </table>
</div>
