layout-111 {
    height: 100%;
    display: flex;
    flex-direction: column;
    #container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #top {
        flex: auto;
        height: 0px;
        overflow-y: auto;
        margin: 10px;
        border: 1px solid #ccc;
    }
    #middle {
        height: fit-content;
        max-height: 30%;
        overflow-y: auto;
        margin: 10px;
        border: 1px solid #ccc;
    }
    #bottom {
        margin: 10px;
        border: 1px solid #ccc;
    }
}
