layout-12 {
    border: solid #ccc;
    border-width: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;

    html,
    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    #container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }
    #top {
        overflow-y: auto;
        border: 1px solid #ccc;
        height: 100%;
        flex:1;
    }
    #bottom {
        display: flex;
        flex: auto;
        height: 0px;
        overflow-y: hidden;
    }
    #bottom-left,
    #bottom-right {
        display: flex;
        width: 100%;
        overflow-y: auto;
        border: 1px solid #ccc;
    }
    #bottom-left {
    }
    #bottom-right {
    }
    #splitter {
        height: 0px;
        cursor: row-resize;
        border: 1px solid #ccc;
    }
}
