layout-12 {
    border: 1px solid #ccc;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

#top {
    display: flex;
    overflow: auto;
    border: 1px solid #ccc;
    height: 100%;
}

#bottom {
    display: flex;
    flex: 1;
    overflow: auto;
}

#bottom-left,
#bottom-right {
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#splitter {
    height: 2px;
    cursor: row-resize;
    background-color: #ccc;
    border: 1px solid #ccc;
}
