subscribe {
    display: flex;
    table {
        border: 1px solid #ccc;
    }
    table thead th {
        background-color: #e0e0e0;
        text-align: left;
    }
    table tbody td {
        padding: 10px;
    }
    table tbody td > div {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    table tbody td > div input[type="text"] {
        padding: 6px;
        flex: 1;
    }
    table tbody td > div input[type="number"] {
        width: 40px;
        padding: 6px;
    }
    table tbody td > div button {
        padding: 6px 12px;
    }
}
