subscribed-topics {
    .table {
        border: 1px solid #ccc;

        td:first-child {
            width: 100%; /* allow it to expand */
        }
        td:last-child {
            white-space: nowrap; /* prevent button text from wrapping */
            width: 1%;
        }

        tr:last-child {
            border: 0px solid #ccc;
        }
    }
}
