* {
    font-family: Arial, sans-serif;
}
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    scrollbar-color: #888 #eee
}
header {
    background: #e0e0e0;
    text-align: center;
}
footer {
    background: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #ccc;
}
tr:nth-child(even) {
    background-color: #f9f9f9; /* light gray */
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:hover {
    background-color: #e0e0e0;
}
thead tr:last-child {
    border-bottom: 1px solid #ccc;
}
th,
td {
    padding: 12px;
    border-right: 1px solid #ccc;
}
th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e0e0e0;
}

.red-btn {
    padding: 4px 8px;
    background-color: #ff6666;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.red-btn:hover {
    background-color: #cc0000;
}
.blue-btn {
    padding: 4px 8px;
    background-color: #6699ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.blue-btn:hover {
    background-color: #0033cc;
}
.green-btn {
    padding: 4px 8px;
    background-color: #66cc66;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.green-btn:hover {
    background-color: #009900;
}
